<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../index/oummakids-tool.css">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="../../index/oummakids-tool.js" type="module" defer></script>
    <title>Password forgotten</title>
</head>

<body>
    <div>
        <form method="POST">
            <label for="emailRecovery">Please entre your email:</label>
            <input type="email" name="emailRecovery" id="emailRecovery">
            <button id="forgotBtn" type="submit">Send</button>
        </form>
    </div>
</body>

</html>