<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../index/oummakids-tool.css">    <script src="../ts/resetPassword/resetPassword.js"></script>
    <script src="../ts/resetPassword/resetPassword.js" type="module" defer></script>
    <title>Reset password</title>
</head>

<body>
    <div>
        <form action="" >
            <label for="newPassword">New password</label>
            <input type="password" name="newPassword" id="newPassword">

            <label for="confirmationPassword">Confirmation password</label>
            <input type="password" name="confirmationPassword" id="confirmationPassword">
            <button id="resetBtn" type="submit">Reset</button>
        </form>
    </div>
</body>

</html>